@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Playfair", serif; */
}

.navbar{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
  letter-spacing: 1.5px;
}

.nav-link.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: "roboto",sans-serif;
  letter-spacing: 3px;
}
/* ================ footer ======= */ 
.footer{
  color: white;
  padding: 25px;
  background: black;
  background: -webkit-linear-gradient(
  to right ,
  #434343,
  #000000);
  background: linear-gradient(
    to right ,
    #434343,
    #000000);
}

.footer a{
  text-decoration: none;
  padding: 10px;

  color: white;
}
  
.footer a:hover{
  color: #ffefbe;
  border-bottom: 1px solid #ffefbe;
}
/* ========================================= */

/* 
=================
======== page not found css ======= */ 
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ========================================= */
/* ========= Register  ========= */
.register{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
}
.register form{
  padding: 40px;
  /* border: 0.3px solid gray; */
  border-radius: 20% 20%;
  box-shadow: 25px 19px 6px -6px gray;
}


.product_link{
  text-decoration: none;
  color: white !important;
}

.checkout-detail-page{
  width: 150px !important;
}


/* new ui changes */

.dropdown-toggle {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  /* height: 200px; */
  object-fit: cover;
}
.card.shadow-sm{
  width: 100%;
}